rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }

    match /{path=**}/meetingAdmins/{adminUid} {
      allow read: if request.auth != null && request.auth.uid == resource.data.uid;
    }
    match /{path=**}/participants/{participantUid} {
      allow read: if request.auth != null && request.auth.uid == resource.data.uid;
    }
  
    match /meetings/{meetingId} {
      function isMeetingAdmin() {
        return request.auth != null
          && exists(/databases/$(database)/documents/meetings/$(meetingId)/meetingAdmins/$(request.auth.uid));
      }
      function isMeetingPublic() {
        let p = /databases/$(database)/documents/meetings/$(meetingId);
        return !exists(p) || get(p).data.isPublic == true;
      }

      allow get: if isMeetingPublic() || isMeetingAdmin();
      allow create: if request.auth != null;
      allow write: if isMeetingAdmin();
      allow list: if false;

      match /meetingAdmins/{adminUid} {
        allow read: if (request.auth != null && request.auth.uid == resource.data.uid) || isMeetingAdmin();
        allow write: if isMeetingAdmin();
      }
      match /participants/{participantUid} {
        allow read: if (request.auth != null && request.auth.uid == resource.data.uid) || isMeetingAdmin();
        allow write: if isMeetingAdmin();
      }

      match /speeches/{speechId} {
        allow create: if false;
        allow read: if true;
        allow update: if isMeetingAdmin() || (request.auth != null && request.auth.uid == resource.data.speakerUid);
        allow delete: if false;
      }

      match /speechTypes/{speechTypeId} {
        allow read: if true;
        allow write: if isMeetingAdmin();
      }

      match /proposals/{proposalId} {
        allow read: if true;
        allow write: if isMeetingAdmin();
      }

      match /votingSessions/{votingSessionId} {
        allow read: if true;
        allow create: if false;
        allow update, delete: if false;

        match /votes/{voteId} {
          function votingIsOpen() {
            let s = get(/databases/$(database)/documents/meetings/$(meetingId)/votingSessions/$(votingSessionId));
            return exists(/databases/$(database)/documents/meetings/$(meetingId)/votingSessions/$(votingSessionId))
              ? (s.data.open == true)
              : false;
          }
          allow read: if (request.auth != null && request.auth.uid == resource.data.voterUid) || !votingIsOpen();
          allow get: if true;
          allow create: if false;
          allow update, delete: if false;
        }

        match /voters/{voterId} {
          function votingIsOpen() {
            let s = get(/databases/$(database)/documents/meetings/$(meetingId)/votingSessions/$(votingSessionId));
            return exists(/databases/$(database)/documents/meetings/$(meetingId)/votingSessions/$(votingSessionId))
              ? (s.data.open == true)
              : false;
          }
          allow list: if !votingIsOpen();
          allow get: if true;
          allow write: if false;
        }
      }
    }
  }
}