rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSuperAdmin() {
			let settingsDoc = get(/databases/$(database)/documents/settings/settings);
			return request.auth != null
				&& request.auth.token.email != null
				&& (request.auth.token.email in settingsDoc.data.adminEmails);
    }
    match /{document=**} {
      allow read, write, update, delete: if false;
    }
    match /meetings/{meetingId} {
      function isMeetingAdmin() {
			  let settingsDoc = get(/databases/$(database)/documents/meetings/$(meetingId)/meetingSettings/settings);
			  return request.auth != null
				  && request.auth.token.email != null
				  && (request.auth.token.email in settingsDoc.data.adminEmails);
      }
      function isMeetingPublic() {
        let settingsDoc = get(/databases/$(database)/documents/meetings/$(meetingId)/meetingSettings/settings);
        return settingsDoc.data.isPublic == true;
      }
      function isMeetingParticipant() {
        let participantDoc = get(/databases/$(database)/documents/meetings/$(meetingId)/participants/$(request.auth.uid));
        return request.auth != null
          && participantDoc.exists();
      }

      allow get: if true;
      allow create: if request.auth != null;
      allow write: if isMeetingAdmin();
      allow list: if isSuperAdmin();

      match /speeches/{speechId} {
        allow create: if false;
        allow read: if true;
        allow write: if isMeetingAdmin();
      }

      match /speechTypes/{speechTypeId} {
        allow read: if isMeetingPublic() || isMeetingParticipant() || isMeetingAdmin();
        allow write: if isMeetingAdmin();
      }
    }

    match /speeches/{speechId} {
      allow read, list: if false;
    }
  }
}