rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSuperAdmin() {
			let settingsDoc = get(/databases/$(database)/documents/settings/settings);
			return request.auth != null
				&& request.auth.token.email != null
				&& (request.auth.token.email in settingsDoc.data.adminEmails);
    }
    match /{document=**} {
      allow read, write: if false;
    }
    match /meetings/{meetingId} {
      function isMeetingAdmin() {
			  let settingsDoc = get(/databases/$(database)/documents/meetings/$(meetingId)/meetingSettings/settings);
			  return request.auth != null
				  && request.auth.token.email != null
				  && (request.auth.token.email in settingsDoc.data.adminEmails);
      }
      function isMeetingPublic() {
        let settingsDoc = get(/databases/$(database)/documents/meetings/$(meetingId)/meetingSettings/settings);
        return settingsDoc.data.isPublic == true;
      }
      function isMeetingParticipant() {
        return request.auth != null
          && get(/databases/$(database)/documents/meetings/$(meetingId)/participants/$(request.auth.uid)).exists();
      }

      allow get: if true;
      allow create: if request.auth != null;
      allow write: if isMeetingAdmin();
      allow list: if isSuperAdmin();

      match /speeches/{speechId} {
        allow create: if false;
        allow read: if true;
        allow update: if isMeetingAdmin();
        allow delete: if false;
      }

      match /speechTypes/{speechTypeId} {
        allow read: if true;
        allow write: if isMeetingAdmin();
      }

      match /proposals/{proposalId} {
        allow read: if true;
        allow write: if isMeetingAdmin();
      }

      match /presence/{uid} {
        allow read, list: if isMeetingAdmin();
        allow create, update: if true;
      }

      match /presenceEvents/{eventId} {
        allow read, list: if isMeetingAdmin();
        allow create: if true;
        allow update, delete: if false;
      }

      match /votingSessions/{votingSessionId} {
        allow read: if true;
        allow create: if isMeetingAdmin();
        allow update, delete: if false;

        match /votes/{voteId} {
          function parentSession() {
            return get(/databases/$(database)/documents/meetings/$(meetingId)/votingSessions/$(votingSessionId));
          }

          function votesArePublic() {
            let s = parentSession();
            return s.exists()
              && s.data.open == false
              && s.data.votePublicity == "PUBLIC";
          }
          allow read, list: if isMeetingAdmin() || votesArePublic();

          allow create: if false;

          allow update, delete: if false;
        }
      }
    }

    match /speeches/{speechId} {
      allow read, list: if false;
    }
  }
}