@import "tailwindcss";
@import "@heroui/styles"; 

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* globals.css */
::selection {
  background: rgba(59, 130, 246, 0.35); /* pick any visible color */
  color: inherit;
}
